.side-bar {
	position: absolute;
	width: 20%;
	text-align: left;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	align-items: center;
	background-color: var(--yellow);
	overflow-y: scroll;
	height: 100vh;
}

.side-bar table {
}

.game-img {
	width: 90%;
}

.game-container {
	margin-left: 30%;
}

.game-content {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.description {
	padding: 10px;
	overflow: auto;
}