:root {
    color-scheme: light;
    --yellow: #ffca18;
    --dark-yellow: #c59f1f;
    --light-yellow: #ffeaa5;
    --light-gray: #9f9f9f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial;
    background-color: #ffffff00;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    padding-top: 60px;
}

/* Navigation Bar */
nav {
    background: var(--yellow);
    height: 70px;
    display: flex;
    justify-content: right;
    align-items: right;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 9999;
    box-shadow: 0 0 10px 0 #09090a;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 70px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar-menu {
    display: flex;
    align-items: left;
    list-style: none;
}

.navbar-item {
    height: 70px;
}

.navbar-links {
    margin-right: 20px;
    margin-top: 20%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    text-decoration: none;
    height: 50%;
    border-radius: 10px;
}

.navbar-links:hover {
	transition: 0.4s color ease;
	background-color: var(--dark-yellow);
    color: white;
}

/* Universal */

.page-container: {
    width: 100%;
}

/* Home Page */
.home-bg {
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 224, 165);
    background-image: url("assets/smile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home-section {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.home-part {
    width:50%;
    padding: 20px;
}

/* Game Page */
#gameContainer {
    padding: 30px;
    margin: 5%;
    margin-left: 15%;
    margin-right: 15%;
    background: var(--light-gray);
    border-radius: 10px;
}

ol {
    list-style: none;
    margin: 5%;
    margin-top: 2.5%;
}

.search-bar input[type=text] {
    padding: 10px;
    width: 40%;
    border-radius: 20px;
    border: none;
    background-color: white;
}

.game {
    padding: 5%;
    margin: 20px;
    margin-right: 25%;
    background: var(--yellow);
    border-radius: 10px;
}

ol a {
    color: black;
    text-decoration: none;
}

.game:hover {
    transition: 0.4s color ease;
    transition: 0.6s background ease;
    background: var(--dark-yellow);
    color: white;
}